body {
  background-color: #1c1c1c;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #ffd700; /* vàng ánh kim */
}

a {
  color: #ffd700;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}
